<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>添加展商</title>
	<link rel="stylesheet" href="../../frame/layui/css/layui.css">
	<link rel="stylesheet" href="../../css/style.css">
	<style type="text/css">
		.operate{
			text-align: center;
			bottom: 0;
			position: relative;
			left: 0;
			right: 0;
		}
	</style>

	<style type="text/css">
		.layui-upload-drag {
			position: relative;
			padding: 10px;
			border: 1px dashed #e2e2e2;
			background-color: #fff;
			text-align: center;
			cursor: pointer;
			color: #999;
		}
	</style>
</head>

<body class="body">
<form id="exhibition-add-form" class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">产品名称</label>

			<div class="layui-input-inline">
				<input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入产品名称" class="layui-input">
			</div>
		</div>

		<div class="layui-inline">
			<label class="layui-form-label">展品分类</label>

			<div class="layui-input-inline">
				<input type="text" name="categoryName" id="categoryName" lay-verify="required" autocomplete="off" class="layui-input">
				<input type="text" name="categoryId" hidden>
			</div>

			<div class="layui-input-inline">
				<button id="choose-category" type="button" class="layui-btn">选择类别</button>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">产品图片<br>162x162px</label>
		<div class="layui-input-block">
			<div class="layui-upload-drag">
				<a href=" javascript:void(0); ">
					<img id="imageAvatarId" src="../../image/default_upload_z.png" alt="上传图片" width="162" height="162">
				</a>
				<input type="hidden" id="imageAvatar" name="imageAvatar" value="">
			</div>

			<button type="button" class="layui-btn" id="imageBtn">
				<i class="layui-icon"></i>
				上传图片
			</button>
			<input class="layui-upload-file" type="file" name="file">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">首页推荐图片<br>150x150px</label>
		<div class="layui-input-block">
			<div class="layui-upload-drag">
				<a href=" javascript:void(0); ">
					<img id="regImageAvatarId" src="../../image/default_upload_z.png" alt="上传图片" width="150" height="150">
				</a>
				<input type="hidden" id="regImageAvatar" name="regImageAvatar" value="">
			</div>

			<button type="button" class="layui-btn" id="regImageBtn">
				<i class="layui-icon"></i>
				上传图片
			</button>
			<input class="layui-upload-file" type="file" name="file">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">展品介绍<br>宽度≤750px</label>

		<div class="layui-input-block">
			<textarea class="layui-textarea" name="content" id="content" style="display: none">
			</textarea>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">说明书标题</label>

		<div class="layui-input-block">
			<input type="text" name="pdfName" autocomplete="off" placeholder="请输入说明书标题" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
			<label class="layui-form-label">上传说明书</label>

			<div class="layui-input-inline" style="width: 400px;">
				<input type="text" name="pdfUrl" id="pdfUrl" autocomplete="off" placeholder="" class="layui-input">
			</div>

			<div class="layui-input-inline">
				<button type="button" class="layui-btn" id="pdfBtn"><i class="layui-icon"></i>上传pdf(最大5M)</button>
			</div>
	</div>


	<div class="layui-form-item operate">
		<button class="layui-btn" type="button" lay-submit lay-filter="exhibition-add-form">
			<i class="layui-icon">&#xe605;</i>
			保存
		</button>
		<button id="cancel" type="button" class="layui-btn layui-btn-primary">
			<i class="layui-icon">&#x1006;</i>
			取消
		</button>
	</div>

</form>

<script type="text/javascript" src="../../js/common/module-manage.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/layui/layui.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/moment.js"></script>
<script src="../../js/controller/exhibition/exhibition-add.js"></script>
</body>

</html>