<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>使用说明</title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/search.css">
    <link rel="icon" href="../image/code.png">

    <style>
        .layui-table, .layui-table-view {
            margin: 0px 0;
        }
    </style>
</head>

<body class="body">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>展商管理平台使用说明</legend>
</fieldset>
<ul class="layui-timeline">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">展商管理</h3>
            <p>
                允许展商修改展商所属分类、logo图、形象图和展商介绍。<br>
                展商名称，展位编号由系统统一录入，展商无修改权限，如需修改请联系主办发。<br>
                邀请二维码：通过微信扫一扫，可以将邀请函发送给您的客户，邀请客户参加展会。<br>
                展商二维码：您可以打印该二维码，放置在线下展位，客户通过扫描该二维码可以直接进入展商的小程序主页。<br>
                展商Logo图：为了更美观的展示您的图片，请按照规定尺寸上传图片。<br>
                展商介绍：展商可以编辑自己的公司介绍，支持图文并茂。<br>
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">产品管理</h3>
            <p>展商可以添加，修改，删除自己产品，添加产品的数量由主办方控制，如需添加更多产品请联系主办方。</p>
            <ul>
                <li>添加：录入产品名称、产品分类、产品图片、产品介绍，产品说明书。注意产品图片的尺寸，按规定上传。</li>
                <li>修改：如产品信息填写错误，可以点击“编辑”按钮，对产品信息进行修改。</li>
                <li>删除：点击“删除”按钮，可以彻底删除产品，请谨慎操作。</li>
                <li>查看：点击“查看”按钮可以查看产品详情。</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">名片夹管理</h3>
            <p>
                可以查看和展商交换了名片的客户列表，支持按照客户ID，业务员ID查询。
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">日程管理</h3>
            <p>展商可以自己的会议日程，默认展商无权限发布，如需发布线下的日程安排，请联系主办方开通权限。</p>
            <ul>
                <li>添加：需要填写日程主题、时间、日程内容，举办地点。</li>
                <li>修改：如日程信息填写有误，可以通过“修改页面”进行修改。</li>
                <li>删除：如日程取消，请及时删除您发布的日程。</li>
                <li>查看：点击“查看”按钮可以查看日程详情。</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">授权管理</h3>
            <p>
                展商业务员可以通过扫描二维码，申请H5访问权限。
            </p>
            <ul>
                <li>第一步：通过微信扫一扫，扫描二维码，打开业务员信息录入页面，业务员填写完成后提交。</li>
                <li>第二步：展商管理员刷新授权列表，对业务员信息进行审核。</li>
                <li>第三步：审核成功后，业务员可以通过H5查看日程和名片夹信息。</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">热线咨询</h3>
            <p>
                如需咨询业务或技术问题，请拨打热线电话。<br>
                电话热线：18701550289（小原）<br>
                电话热线：18701550368（小彭）<br>
                微信咨询请扫描二维码：<br>
                <img style="width: 150px; " src="../../image/weixinzixun.jpg"/>
            </p>
        </div>
    </li>
</ul>

<script type="text/javascript">
    document.write("<script type='text/javascript' src='../../js/common/module-manage.js?random="+Math.random()+"'></s"+"cript>");
    document.write("<script type='text/javascript' src='../../frame/layui/layui.js?random="+Math.random()+"'></s"+"cript>");
    document.write("<script type='text/javascript' src='../../frame/jquery-1.12.4.js?random="+Math.random()+"'></s"+"cript>");
</script>

</body>

</html>